<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type='text/css' href="../../css/style.css">
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        <input type='text' name="nameactor" placeholder="name actor"><br>
        <input type='file' name="imageactor"><br>
        <input type='text' name="levelactor" placeholder="level actor"><br>
        <input type='text' name="decriptionactor" placeholder="decriptionactor film "><br>
        <input type="submit" value="Add" />
    </form>
</body>
</html>