form{
   
    width:200px;
    margin: 20px auto;
   
}
.main{
    width:600px;
    border:1px solid #ccc;
    margin:20px auto;
}
.main img{
    border-radius: 500px;
    border:1px solid #ccc;
}
.container{
    text-align:center;
}